
@{
    ViewBag.Title = "AddCategoryView";
}


<link href="@Url.Content("~/Content/background.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/EditCategoryStyleSheet.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>

<h2>EditCategoryView</h2>

<div class="parent">
    <div id="formDiv" class="child">
        <div id="formSection" class="form-style-5">
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "formSection"}))
            {
            <fieldset>
                <legend><span class="number"></span> Category edit form</legend>
                <input id="name" type="text" name="nameField" placeholder="Name *" />
                <textarea id="description" name="descriptionField" style="height:150px" placeholder="Description"></textarea>
                <br />                
                <input type="file" id="fileUpload" />
                <br />
                <input type="text" name="filePathField" id="filePath" />
                <br />
               
                <img id="imagePreview" height="42" width="42" alt="Preview" />
              
                <br />            
                <input type="submit" value="Apply" id="submitBtn"/>
            </fieldset>
            }
        </div>
    </div>
</div>

@section scripts{
    
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }

<script>
    
           
        
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader          = new FileReader();

            reader.onload       = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fileUpload").change(function () {
        var filePath = $('#fileUpload').val();
        filePath = filePath.split("\\")[2];
        filePath = "\\Category\\" + filePath.split('.')[0] + "\\" + filePath;
        
        document.getElementById("filePath").value = filePath;
        readURL(this);
    });
</script>
