@{
    ViewBag.Title = "Home Page";
}

<link href="background.css" rel="stylesheet" />

<div id="MainPageDiv">

    <br />

    <button id="categoryButton" onclick="@("window.location.href='" + @Url.Action("List", "Category") + "'");" style="margin-bottom:100px; position:relative; margin-top:20%;" class="btn btn-info btn-lg btn-block"> Category </button>

    <br />

    <button id="productButton" onclick="@("window.location.href='" + @Url.Action("List", "Product") + "'");" class="btn btn-info btn-lg btn-block"> Product </button>

</div>