
@{
    ViewBag.Title = "ShowProductView";
}
<link href="background.css" rel="stylesheet" />

@model ASPEx_2.Models.ProductModels
<br />
<br />
<div class="jumbotron">
    <blockquote>
        <h3>@ViewBag.Name</h3>
    </blockquote>
    <br />
    <blockquote>
        <h3>@ViewBag.Description</h3>
    </blockquote>
    <br />
    <blockquote>
        <h3>@ViewBag.Price</h3>
    </blockquote>
    <br />
    <blockquote>
        @{ string imageLocation = "/Filestore" + ViewBag.FileName.Replace('\\', '/');
            <img id="imagePreview" src="@imageLocation" height="42" width="42" alt="Preview" />
        }
    </blockquote>
    </div>